/* src/pages/LanguageDetailPage.module.css */
.portraitContainer {
  position: relative;
  width: 100%;
  
  /* На мобильных (ширина < 768px): растягиваем на весь экран */
  max-width: 100%;
  height: 100vh; /* Высота во весь экран */
  border-radius: 0; /* Убираем скругления на телефоне */
  
  margin: auto;
  overflow: hidden;
  background-color: #000;
  box-shadow: none; /* Убираем тень на телефоне */
}


@media (min-width: 768px) {
  .portraitContainer {
    max-width: 400px;
    height: 710px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}


.videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Видео будет покрывать весь контейнер, обрезая лишнее */
  z-index: 1;
}

.overlayContent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  z-index: 2;
  color: white;
  background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.5), transparent); /* Градиент для лучшей читаемости текста */
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}
